<h1>Would you like to work together?</h1>

<hr>

<div class="row">
  <div class="col-md-6">
    <h3>Office Address</h3>

    <p>Oceanside, CA 92054</p>

    <h3>Phone</h3>

    <p><%= number_to_phone "7605838357" %></p>

    <h3>Email</h3>

    <p><a href="mailto:jorgesevilla7@gmail.com?subject=PortfolioContact" "email me">Email me</a></p>
  </div>

  <div class="col-md-6">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d106801.52160796218!2d-117.38758164794517!3d33.22595592766106!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80dc655e605b7705%3A0x19ecb3f398f9f87!2sOceanside%2C+CA!5e0!3m2!1sen!2sus!4v1496381944569" width="450" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
</div>
